.credits {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.credits a {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
